<nav class="full-width">
    <ul class="full-width list-unstyle menu-principal">
        <li class="full-width">
            <a href="/admin" class="full-width">
                <div class="navLateral-body-cl">
                    <i class="zmdi zmdi-view-dashboard"></i>
                </div>
                <div class="navLateral-body-cr">
                    Inicio
                </div>
            </a>
        </li>
        <li class="full-width divider-menu-h"></li>
        <li class="full-width">
            <a href="#!" class="full-width btn-subMenu">
                <div class="navLateral-body-cl">
                    <i class="zmdi zmdi-case"></i>
                </div>
                <div class="navLateral-body-cr">
                    Compras
                </div>
                <span class="zmdi zmdi-chevron-left"></span>
            </a>
            <ul class="full-width menu-principal sub-menu-options">
                <li class="full-width">
                    <a href="/nueva_compra" class="full-width">
                        <div class="navLateral-body-cl">
                            <i class="zmdi zmdi-card"></i>
                        </div>
                        <div class="navLateral-body-cr">
                            Registrar Compras
                        </div>
                    </a>
                </li>
                <li class="full-width">
                    <a href="/lista_compras" class="full-width">
                        <div class="navLateral-body-cl">
                            <i class="zmdi zmdi-label"></i>
                        </div>
                        <div class="navLateral-body-cr">
                            Lista Compras
                        </div>
                    </a>
                </li>
                <li class="full-width">
                    <a href="/nuevo_producto" class="full-width">
                        <div class="navLateral-body-cl">
                            <i class="zmdi zmdi-card"></i>
                        </div>
                        <div class="navLateral-body-cr">
                            Nuevo Producto
                        </div>
                    </a>
                </li>
                <li class="full-width">
                    <a href="/lista_productos" class="full-width">
                        <div class="navLateral-body-cl">
                            <i class="zmdi zmdi-label"></i>
                        </div>
                        <div class="navLateral-body-cr">
                            Lista Productos
                        </div>
                    </a>
                </li>
                <li class="full-width">
                    <a href="/nueva_categoria" class="full-width">
                        <div class="navLateral-body-cl">
                            <i class="zmdi zmdi-card"></i>
                        </div>
                        <div class="navLateral-body-cr">
                            Nueva Categoría
                        </div>
                    </a>
                </li>
                <li class="full-width">
                    <a href="/lista_categorias" class="full-width">
                        <div class="navLateral-body-cl">
                            <i class="zmdi zmdi-label"></i>
                        </div>
                        <div class="navLateral-body-cr">
                            Lista Categoría
                        </div>
                    </a>
                </li>
                <li class="full-width">
                    <a href="/nueva_marca" class="full-width">
                        <div class="navLateral-body-cl">
                            <i class="zmdi zmdi-card"></i>
                        </div>
                        <div class="navLateral-body-cr">
                            Nueva Marca
                        </div>
                    </a>
                </li>
                <li class="full-width">
                    <a href="/lista_marcas" class="full-width">
                        <div class="navLateral-body-cl">
                            <i class="zmdi zmdi-label"></i>
                        </div>
                        <div class="navLateral-body-cr">
                            Lista Marca
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="full-width divider-menu-h"></li>
        <li class="full-width">
            <a href="#!" class="full-width btn-subMenu">
                <div class="navLateral-body-cl">
                    <i class="zmdi zmdi-face"></i>
                </div>
                <div class="navLateral-body-cr">
                    Usuarios
                </div>
                <span class="zmdi zmdi-chevron-left"></span>
            </a>
            <ul class="full-width menu-principal sub-menu-options">
                <li class="full-width">
                    <a href="/nuevo_usuario" class="full-width">
                        <div class="navLateral-body-cl">
                            <i class="zmdi zmdi-account"></i>
                        </div>
                        <div class="navLateral-body-cr">
                            Nuevo Usuario 
                        </div>
                    </a>
                </li>
                <li class="full-width">
                    <a href="/lista_usuarios" class="full-width">
                        <div class="navLateral-body-cl">
                            <i class="zmdi zmdi-accounts"></i>
                        </div>
                        <div class="navLateral-body-cr">
                            Lista Empleados
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="full-width divider-menu-h"></li>
        <li class="full-width">
            <a href="/num_ventas" class="full-width">
                <div class="navLateral-body-cl">
                    <i class="zmdi zmdi-shopping-cart"></i>
                </div>
                <div class="navLateral-body-cr">
                    Ventas 
                </div>
            </a>
            <li class="full-width divider-menu-h"></li>
            <li class="full-width">
                <a href="/inventario1" class="full-width">
                    <div class="navLateral-body-cl">
                        <i class="zmdi zmdi-store"></i>
                    </div>
                    <div class="navLateral-body-cr">
                        Inventario
                    </div>
                </a>
            </li>
            <li class="full-width divider-menu-h"></li>
            <li class="full-width">
                <a href="/help1" class="full-width">
                    <div class="navLateral-body-cl">
                        <i class="zmdi zmdi-wrench"></i>
                    </div>
                    <div class="navLateral-body-cr">
                        Ayuda
                    </div>


                </a>
            </li>
        </li>
    </ul>
</nav>
</body>
</html>
